*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.search{
    --padding: 14px;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
    display: none;
    margin-top: 1rem;
}
.search:focus-within{
    box-shadow: 0 0 2px rgba(0, 0, 0,0.75);
}
.search-input{
    font-size: 16px;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background-color: transparent;
    width: 300px;
}
#name{
    font-weight: 600;
    display: none;
}
#hname{
    font-weight: 600;
    
}
#fonts{
    color: grey;
}
#fontss{
    color: black;
}
.search button{
    border: none;
    background-color: transparent;
}
.headertop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}
#links{
    text-decoration: none;
    color: black;
    font-size: x-small;
}
#links1{
    text-decoration: none;
    color: black;
    display: none;
}
#links2{
    text-decoration: none;
    color: black;
    display: none;
}
.hright{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.headerbottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    width: 100%;
    border-bottom: 1px solid rgb(169, 168, 168);
}
header{
    width: 100%;
    background-color:rgb(122, 182, 218) ;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 40px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    background-color: rgb(122, 182, 218);
    margin-left: 10rem;
    margin-right: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.3rem;
}
.image{
    width: 30%;
}
/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 380px) and (max-width: 600.99px) {
    /* Your styles for small screens go here */
    #links1{
        display: flex;
        font-size: small;
    }
    #links{
        font-size: small;
    }
   
}


/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 601px) {
    /* Your styles for medium screens go here */
    #fontss{
        display: none;
    }
    .search{
        display: flex;
    }
    #links{
        font-size: small;
    }
    #links2{
        display: flex;
        font-size: small;
    }
    #name{
        font-weight: 600;
        display: flex;
    }
    #hname{
        display: none;
    }
    
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px)  {
    /* Your styles for large screens go here */
   
    .headerbottom{
        gap: 2rem;
       }
    
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
       .headerbottom{
        gap: 2.5rem;
       }
      
}
@media (min-width: 1400px){
    #smalll{
        display: flex;
    }
   .headerbottom{
    gap: 3rem;
   }
  
}